@import '@/assets/styles/veriables';

.adminReportsPage{
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem 36px;
    box-sizing: border-box;
    display: flex;  
    gap: 1rem;
    align-items: flex-start;
    
    width: 100%;

    > .adminReportsPage_content{
        background-color: $color-white;
        box-shadow: 0px 0.57rem 1rem rgba(0, 0, 0, 0.08);
        padding: 1rem;
        flex: 1;
        overflow: hidden;
        border-radius: 0.75rem;

        > .adminReportsPage_heading{
            font-weight: 700;
            font-size: 1.2rem;
        }
    }
}