@import '@/assets/styles/veriables';

.adminReportsPage{
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem 36px;
    box-sizing: border-box;
    display: flex;  
    gap: 1rem;
    align-items: flex-start;
    
    width: 100%;

    > .adminReportsPage_content{
        flex: 1;
        overflow: hidden;
        max-width: 600px;

        > .adminReportsPage_heading{
            font-weight: 700;
            font-size: 1.2rem;
            background-color: $color-white;
            box-shadow: 0px 0.57rem 1rem rgba(0, 0, 0, 0.08);
            padding: 1rem;
            border-radius: 0.75rem;
            max-width: 600px;
        }

        > .adminReportsPage_reportList{
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
}

@media (max-width: 1000px) {
    .adminReportsPage{
        padding: 1rem;

        > .adminReportsPage_content{
            max-width: none;

            > .adminReportsPage_heading{
                max-width: none;
            }
        }
    }
}

