@import '@/assets/styles/veriables';

.suggestPage{
    flex: 1;
    box-sizing: border-box;
    display: flex;

    > .suggestPage_container{
        max-width: 102.85rem;
        
        margin: 0 auto;
        box-sizing: border-box;
        padding: 1rem 2.57rem;
        display: flex;
        align-self: center;
        justify-content: space-around;

        > .suggestPage_suggest{
            border-radius: 0.75rem;
            width: 74rem;
            height: 37rem;
            background-color: $color-white;
            box-shadow: 0px 0.57rem 1rem rgba(0, 0, 0, 0.08);
            padding: 1rem;
            box-sizing: border-box;
            display: flex;
            gap: 2rem;
            
            > .suggestPage_suggest_imgUpload{
                position: relative;
                flex: 1;
                
                > img{
                    width: 100%;
                    height: 100%;
                    border-radius: 0.75rem;
                }

                > .suggestPage_suggest_imgUpload_inputGroup{
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $color-grey-hover;
                    width: 100%;
                    height: 100%;
                    border-radius: 0.75rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    transition: 0.5s;
                    opacity: 0;
                    
                    > img{
                        width: 90%;
                    }

                    >input{
                        position:absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }

                    &:hover{
                        transition: 0.5s;
                        opacity: 1;
                    }

                    &:active{
                        transition: 0.5s;
                        background-color: $color-grey-active;
                    }
                }
            }

            > .suggestPage_suggest_dataUpload{
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 1rem;

                > .dataUpload_photo{
                    display: none;
                }

                > .dataUpload_name{
                    > div{
                        font-weight: 700;
                        font-size: 1.2rem;
                    }

                    > input{
                        margin-top: 0.35rem;
                    }
                }

                > .dataUpload_description{
                    
                    > div{
                        font-weight: 700;
                        font-size: 1.2rem;
                    }
                }

                > .dataUpload_addTags{

                    > span{
                        font-weight: 700;
                        font-size: 1.2rem;
                    }

                    > .filters_tagSearch_searchBar{
                        position: relative;
                        display: flex;
                        align-items: center;
                        border: 1px $color-grey solid; 
                        height: 2.71rem;
                        box-sizing: border-box;
                        padding: 0.42rem;
                        border-radius: 0.57rem;
                        width: 100%;
        
                        > input{
                            margin-left: 0.85rem;
                            outline: none;
                            border: none;
                            flex: 1;
                            font-size: 1rem;
                        }
        
                        > .filters_tagSearch_results{
                            padding: 0.7rem;
                            box-sizing: border-box;
                            top: 2.7rem;
                            left: -1px;
                            position: absolute;
                            width: 100%;
                            background-color: $color-white;
                            border-radius: 0 0 0.75rem 0.75rem;
                            z-index: 999;
        
                            > .filters_tagSearch_result{
                                color: $color-black;
                                font-size: 1rem;
                                height: 2rem;
                                display: flex;
                                align-items: center;
                                cursor: pointer;
                                border: none;
                                outline: none;
                                background-color: $color-white;
                                width: 100%;
                            }
                        }
                    }

                    > .dataUpload_addTags_tags{
                        margin-top: 0.35rem;

                        > span{
                            font-weight: 700;
                            font-size: 1.2rem;
                        }

                        > div{
                            margin-top: 0.35rem;
                            overflow: hidden;
                            height: 4.28rem;
                            display: flex;
                            flex-wrap: wrap;
                            gap: 0.35rem;

                            > button{
                                height: 2rem;
                                outline: none;
                                border: none;
                                padding: 0.35rem;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                background-color: $color-red;
                                color: $color-white;
                                font-weight: 700;
                                border-radius: 0.35rem;
                                transition:  $transition-speed-button;
                                cursor: pointer;
            
                                &:hover{
                                    transition:  $transition-speed-button;
                                    background-color: $color-red-hover;
                                }
            
                                &:active{
                                    transition:  $transition-speed-button;
                                    background-color: $color-red-active;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.helpSpan{
    color: $color-red;
}

// 1100пх брейкпоинт

@media (max-width: 1150px) {
    .suggestPage{
        .suggestPage_container{
            .suggestPage_suggest{
                width: 100%;
            }
        }
    }
}

@media (max-width: 800px) {
    .suggestPage{
        .suggestPage_container{
            padding: 1rem;
            .suggestPage_suggest{
                display: block;
                height: 100%;

                .suggestPage_suggest_imgUpload{
                    display: none;
                }

                .suggestPage_suggest_dataUpload{
                    .dataUpload_photo{
                        display: block;
                    }
                }
            }
        }
    }
}