@import '@/assets/styles/veriables';

.modalGift {

  > .modalGift_container {
    position: relative;
    background: white;
    border-radius: 8px;

    > .modalGift_content {
      width: 50rem;
      // height: 21.42rem;
      height: 100%;
      max-height: 50rem;
      padding: 1.14rem;
      box-sizing: border-box;
      border-radius: 0.85rem;
      // display: flex;
      gap: 0.5rem;

      > .modalGift_img{
        width: 100%;
        aspect-ratio: 670/370;
        height: auto;
        object-fit: contain;
        

        > img{
          width: 100%;
          height: 100%;
          object-fit: cover;  
        }
      }

      > .modalGift_info{
        height: 100%;
        flex: 1;
        overflow: scroll;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        scrollbar-width: none; /* для Firefox */
        
        &::-webkit-scrollbar{
          display: none;
        }

        > .modalGift_info_name{
          margin-top: 0.714rem;
          font-weight: 700;
          font-size: 1.714rem;
          line-height: 2.14rem;
          width: 100%; 
          word-wrap: break-word;
          overflow-wrap: break-word;
        }

        > .modalGift_info_views{
          margin-top: 0.35rem;
          font-weight: 700;
          color: $color-black;
          opacity: 0.5;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        > .modalGift_info_tags{
          height: 4.28rem;
          display: flex;
          flex-wrap: wrap;
          gap: 0.35rem;

          > .modalGift_info_tag{
              max-height: 2rem;
              box-sizing: border-box;
              padding: 0.35rem;
              background-color: $color-red;
              border-radius: 0.42rem;
              color: $color-white;
              font-weight: 700;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
          }
        }

        > .modalGift_info_creator{
          text-decoration: none;
          color: $color-white;
          padding: 0.35rem;
          background-color: $color-red;
          // width: 300px;
          max-width: 200px;
          font-weight: 700;
          border-radius: 0.35rem;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          flex: 1;

          > img{
            width: 2rem;
            height: auto;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 50%;
            border: 1px $color-grey solid;
            box-sizing: border-box;
          }
          
          > span{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .modalGift{
    > .modalGift_container{
      > .modalGift_content{
        width: 500px
      }
    }
  }
}

@media (max-width: 550px) {
  .modalGift{
    > .modalGift_container{
      > .modalGift_content{
        width: 300px
      }
    }
  }
}