@import '@/assets/styles/veriables';

// Перевести всё в ремы
.searchBar{
    display: flex;
    align-items: center;
    gap: 0.714rem;

    > .searchBar_bar{
        display: flex;
        align-items: center;
        background-color: $color-white;
        height: 2.714rem;
        border-radius: 0.571rem;

        > img{
            margin-left: 0.42rem;
        }

        > input{
            margin-left: 0.857rem;
            width: 13rem;
            outline: none;
            border: none;
            font-family: 'Noah';
            font-weight: 400;
            color: $color-black;
            font-size: 1rem;

            &::placeholder{
                color: $color-black;
                opacity: 50%;
            }
        }

        > button{
            height: 100%;
            outline: none;
            border: none;
            background-color: $color-white;
            width: 6.571rem;
            align-items: center;
            justify-content: space-around;
            border-radius: 0.571rem;
            // text-transform: uppercase;
            transition: $transition-speed-button;

            &:hover{
                background-color: $color-grey;
                transition: $transition-speed-button;
            }

            &:active{
                background-color: $color-grey-active;
                transition: $transition-speed-button;
            }
        }
    }

    > button{
        height: 2.714rem;
        width: 2.714rem;
        align-items: center;
        justify-content: space-around;
        outline: none;
        border: none;
        background-color: $color-white;
        border-radius: 0.571rem;
        // text-transform: uppercase;
        transition: $transition-speed-button;

        &:hover{
            background-color: $color-grey;
            transition: $transition-speed-button;
        }

        &:active{
            background-color: $color-grey-active;
            transition: $transition-speed-button;
        }
    }
}