@import '@/assets/styles/veriables';

.suggest_account{
    display: flex;
    align-items: center;
    max-width: 300px;
    width: 100%;
    // width: 300px;
    height: 3rem;
    background-color: $color-grey;
    border-radius: 1.5rem;
    padding: 0.35rem;
    box-sizing: border-box;
    gap: 0.5rem;
    text-decoration: none;

    > img{
        height: auto;
        width: 2rem;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
        border: 1px $color-grey-active solid;
    }

    > .suggest_account_info{
        > .suggest_account_nickname{
            font-weight: 700;
            color: $color-black;
        }

        > .suggest_account_data{
            font-size: 0.8rem;
            color: $color-black;
        }
    }
}