@import '@/assets/styles/veriables';

.mainPage{
    background-color: $color-grey;

    // удалить
    min-height: 100vh;

    > .mainPage_container{
        max-width: 1440px;
        margin: 0 auto;
        display: flex;

        > .mainPage_giftContent{
            margin-left: 96px;
            flex: 1;

            > .mainPage_giftContent_selectors{
                margin: 50px 0 22px 0;
                padding: 10px 20px;
                box-sizing: border-box;
                height: 48px;
                width: 658px;
                background-color: $color-white;
                border-radius: 8px;
                display: flex;
                gap: 10px;

                > .mainPage_giftContent_selector{
                    position: relative;
                    flex: 1;
                    background-color: $color-grey;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 8px;
                    padding: 5px 10px;
                    box-sizing: border-box;
                    
                    > span{
                        font-weight: 700;
                    }

                    > .mainPage_giftContent_selector_menu{
                        position: absolute;
                        bottom: -25px;
                        left: 0;
                        background-color: $color-grey;
                        z-index: 100;
                        width: 100%;
                        height: 30px;
                        padding: 5px 10px;
                        box-sizing: border-box;
                        font-weight: 700;
                        border-radius: 0 0 8px 8px;
                    }
                }
            }

            > .mainPage_giftContent_giftList{
                display: flex;
                flex-wrap: wrap;
                gap: 40px;
            }
        }
    }
}
