@import '@/assets/styles/veriables';

.mainPage{
    background-color: $color-grey;
    padding: 0 1rem 0 0;
    // удалить
    min-height: 100vh;

    > .mainPage_container{
        max-width: 102.85rem;
        margin: 0 auto;
        display: flex;

        > .mainPage_giftContent{
            margin-left: 6.85rem;
            flex: 1;

            > .mainPage_giftContent_giftList{
                display: flex;
                flex-wrap: wrap;
                gap: 2.85rem;
            }
        }
    }
}

@media (max-width: 1000px) {
    .mainPage{
        padding: 0 1rem;

        > .mainPage_container{
            .mainPage_giftContent{
                margin-left: 0;
            }
        }
    }
}