@import '@/assets/styles/veriables';

.report{
    max-width: 600px;
    width: 100%;
    box-shadow: 0px 0.57rem 1rem rgba(0, 0, 0, 0.08);
    padding: 1rem;
    border-radius: 0.75rem;
    box-sizing: border-box;
    background-color: $color-white;
    
    > .report_text{
        margin-top: 1rem;
    }
    
    > .giftCard{
        margin-top: 1rem;
        flex: 1;
        display: flex;

        > .giftCard_container{
            flex: 1;
            height: 100%;

            > .giftCard_inner{
                > img{
                    width: 100%;
                }
            }
        }
    }
    
    > .report_buttons{
        display: flex;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }
}


@media (max-width: 1000px) {
    .report{
        max-width: none;
    }
}