@import '@/assets/styles/veriables';

.user{
    padding: 0.35rem;
    box-sizing: border-box;
    background-color: $color-grey;
    border-radius: 0.35rem;
    height: 2.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    > .user_left{
        display: flex;
        align-items: center;
        gap: 0.5rem;

        > img{
            height: 2rem;
            width: 2rem;
            object-fit: cover;
            border-radius: 50%;
            border: 1px $color-grey-active solid;
            background-color: $color-grey-active;
        }

        > a{
            font-weight: 700;
            text-decoration: none;
            color: $color-black;
        }
    }
}