// Шрифты
@font-face {
  font-family: 'Noah';
  src: url('../fonts/NoahBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
  
@font-face {
  font-family: 'Noah';
  src: url('../fonts/NoahLight.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
  
@font-face {
  font-family: 'Noah';
  src: url('../fonts/NoahHeavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
  
@font-face {
  font-family: 'Noah';
  src: url('../fonts/NoahBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

// Основные цвета
$color-red: #D50842;
$color-black: #2A2A2A;
$color-orange: #FFAC30;
$color-grey: #EDEDED;
$color-white: #FFFFFF;
$color-grey-active: #AEAEAE;
$color-red-hover: #8D0028;
$color-red-active: #5A001A;
// Размер текста
$font-size-main: 14px;

// Скорость анимаций
$transition-speed-button: 0.5s;

// @import '@/assets/styles/veriables';