@import '@/assets/styles/veriables';

.giftCard{

    > .giftCard_container{
        position: relative;
        height: 365px;
        width: 308px;
        background-color: $color-white;
        border-radius: 16px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
        padding: 14px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        
        > .giftCard_inner{

            > .giftCard_name{
                margin-top: 10px;
                font-weight: 700;
                font-size: 24px;
                line-height: 30px;
                width:280px; 
                height: 60px;
                word-wrap: break-word;
                overflow-wrap: break-word;
                overflow: hidden; /* Скрытие переполняющего содержимого */
                display: -webkit-box; /* Использование flexbox для контейнера */
                -webkit-box-orient: vertical; /* Вертикальная ориентация flexbox */
                -webkit-line-clamp: 2; /* Ограничение количества строк */
                line-clamp: 2; /* Ограничение количества строк (для совместимости) */
                text-overflow: ellipsis; /* Добавление троеточия */
            }

            > .giftCard_reating{
                margin-top: 5px;
                position: relative;
                width: 100px;

                > .giftCard_reating_stars{
                    display: flex;
                    gap: 5px;
                }

                > .giftCard_reating_reating{
                    // СМЕНА ВИДЗ, СМЕНА РЕЙТИНГА
                    width: 50%;
                    display: flex;
                    gap: 5px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    overflow: hidden;
                }
            }

            > .giftCard_views{
                margin-top: 5px;
                font-weight: 700;
                color: $color-black;
                opacity: 0.5;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            > .giftCard_tags{
                overflow: hidden;
                height: 60px;
                margin-top: auto;
                display: flex;
                flex-wrap: wrap;
                gap: 5px;

                > .giftCard_tags_tag{
                    max-height: 27px;
                    box-sizing: border-box;
                    padding: 5px;
                    background-color: $color-red;
                    border-radius: 6px;
                    color: $color-white;
                    font-weight: 700;
                }
            }
        }
        
        > .giftCard_additional{
            position: absolute;

            > .giftCard_additional_container {
                position: relative;

                > img{
                    top: 14px;
                    left: 14px;
                    cursor: pointer;
                    opacity: 0.5;
                    transition: $transition-speed-button;
        
                    &:hover{
                        transition: $transition-speed-button;
                        opacity: 1;
                    }
                }

                > span{
                    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
                    position: absolute;
                    top: 0;
                    padding: 12px 24px;
                    box-sizing: border-box;
                    background-color: $color-white;
                    border-radius: 12px;
                    font-weight: 700;
                    font-size: 14px;
                    transition: $transition-speed-button;
                    cursor: pointer;
                    
                    &:hover{
                        background-color: $color-grey-hover;
                        transition: $transition-speed-button;
                    }

                    &:active{
                        background-color: $color-grey-active;
                        transition: $transition-speed-button;
                    }

                    &.active{
                        animation: additionalIn 0.5s forwards;
                    }

                    &.disabled{
                        animation: additionalOut 0.5s forwards;
                    }
                }
            }
        }

        > .giftCard_mark{
            position: absolute;
            top: 14px;
            right: 14px;
            cursor: pointer;

            img.active {
                animation: markActive 0.5s forwards;
                filter: brightness(0) saturate(100%) invert(80%) sepia(58%) saturate(4883%) hue-rotate(334deg) brightness(102%) contrast(101%);
            }
            
        }
    }

    > .giftCard_additionalModal{

        > .giftCard_additionalModal_background{
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background-color: black;
            opacity: 0.5;
            z-index: 101;
            animation: modalBackShow 0.5s forwards;

            // &.show{
            //     animation: modalBackShow 0.5s forwards;
            // }

            &.hide{
                animation: modalBackHide 0.5s forwards;
            }
        }
        
        >.giftCard_additionalModal_content{
            position: absolute;
            left: 50%;
            top: 50%;
            background-color: white;
            z-index: 102;
            transform: translate(-50%, -50%);
            width: 700px;
            height: 300px;
            padding: 16px;
            box-sizing: border-box;
            border-radius: 12px;
            display: flex;
            flex-direction: column;

            &.show{
                animation: modalShow 0.5s forwards;
            }

            &.hide{
                animation: modalHide 0.5s forwards;
            }

            > span{
                font-weight: 700;
                font-size: 24px;
            }

            > textarea{
                margin-top: 5px;
                outline: none;
                border: 1px $color-grey solid; 
                border-radius: 8px;
                padding: 12px;
                box-sizing: border-box;
                white-space: pre-wrap;
                resize: none;
                flex: 1;
            }

            > button{
                margin-top: 5px;
                max-height: 27px;
                box-sizing: border-box;
                padding: 5px;
                background-color: $color-red;
                border-radius: 6px;
                color: $color-white;
                font-weight: 700;
                border: none;
                transition:  $transition-speed-button;
                cursor: pointer;

                &:hover{
                    transition:  $transition-speed-button;
                    background-color: $color-red-hover;
                }

                &:active{
                    transition:  $transition-speed-button;
                    background-color: $color-red-active;
                }
            }
        }
    }

    > .giftCard_giftModal{

        > .giftCard_giftModal_background{
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background-color: black;
            opacity: 0.5;
            z-index: 101;
            animation: modalBackShow 0.5s forwards;

            &.hide{
                animation: modalBackHide 0.5s forwards;
            }
        }

        > .giftCard_giftModal_content{
            position: absolute;
            left: 50%;
            top: 50%;
            background-color: white;
            z-index: 102;
            transform: translate(-50%, -50%);
            width: 700px;
            height: 300px;
            padding: 16px;
            box-sizing: border-box;
            border-radius: 12px;
            display: flex;
            flex-direction: column;

            &.show{
                animation: modalShow 0.5s forwards;
            }

            &.hide{
                animation: modalHide 0.5s forwards;
            }
        }
    }
}

// анимация модального окна
@keyframes modalShow {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes modalHide {
    100%{
        opacity: 0;
    }
    0%{
        opacity: 1;
    }
}


// анимация фона для модального окна
@keyframes modalBackShow {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.5;
    }
}

@keyframes modalBackHide {
    100%{
        opacity: 0;
    }
    0%{
        opacity: 0.5;
    }
}


// анимация отмеченного
@keyframes markActive{
    0%{
        scale: 1;
    }
    20%{
        scale: 1.2;
    }
    100%{
        scale: 1;
    }
}

// аниммация появления доп функций
@keyframes additionalIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes additionalOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}